.about-us-p{
    color: rgb(12, 11, 11);
    margin: 10px;
    font-size: 25px;
    font-family: 'Amiri', serif;
    padding: 20px;
   
    
}
.section-four{
    background-color: hsl(0, 3%, 54%);
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
   
}

.section-four h1{
    color: beige;
    margin: 10px;
    font-family: 'Amiri', serif;

    
}
.section-four h2{
    color: beige;
    margin: 10px;
    font-family: 'Amiri', serif;
}
