.about-us-p{
    color: rgb(253, 253, 253);
    margin: 10px;
    font-size: 25px;
    font-family: 'Amiri', serif;
    padding: 20px;
   
    
}
.section-four{
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
   
}

.section-four h1{
    color: rgb(141, 23, 23);
    margin: 10px;
    font-family: 'Amiri', serif;
}
.section-four h2{
    color: rgb(141, 23, 23);
    margin: 10px;
    font-family: 'Amiri', serif;
}
