.section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 3px solid rgb(141, 23, 23);
    border-radius: 10px;
    padding: p;
}
.section-two h2{
    color: hsl(0, 0%, 85%);
    
    font-size: 35px;
    
    
  
}