.section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: black;
    border: 3px solid rgb(141, 23, 23);
    border-radius: 30px;
    animation: slideY 1.5s ease-out;
    
}

@keyframes slideY {
    from {
        opacity: 0; /* Start invisible */
        transform: translateY(500px); /* Start off above its final position */
    }
    to {
        opacity: 1; /* End visible */
        transform: translateY(0); /* End at its final position */
    }
}
.section-two h2{
    color: hsl(0, 0%, 85%);
    
    font-size: 35px;
    
    
  
}